<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <title>ユーザー登録</title>
</head>
<body>

<nav th:replace="common/noLoginNav"></nav>

<div class="container py-3">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center pb-4">アカウント登録</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card rounded-0 card-shadow">
                <div class="card-header bg-custom1">
                    <h3 class="mb-0">アカウント情報入力</h3>
                </div>
                <div class="card-body">
                    <form id="accountForm" th:action="@{/account/register/confirm}" th:object="${accountRegisterForm}" method="post">
                        <fieldset id="account_field">
                            <div class="form-group required">
                                <label for="accountId">アカウントID</label><br/>
                                <input class="form-control" id="accountId" type="text"  th:field="*{accountId}" name="accountId" th:errorclass="is-invalid" required placeholder="アカウントIDを入力してください"/>
                                <small class="form-text text-muted">アカウントIDは3文字以上、15文字以下かつ、半角英数字で入力してください。</small>
                                <span class="text-danger" th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}">error!</span>
                            </div>
                            <div class="form-group required">
                                <label for="name">氏名</label><br/>
                                <input class="form-control" id="name" type="text"  th:field="*{name}" name="name" th:errorclass="is-invalid" required placeholder="氏名を入力してください"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error!</span>
                            </div>
                            <div class="form-group required">
                                <label for="email">E-mail</label><br/>
                                <input class="form-control" id="email" type="text"  th:field="*{email}" name="email" th:errorclass="is-invalid" required placeholder="メールアドレスを入力してください"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error!</span>
                            </div>
                            <div class="form-group required">
                                <label for="password">パスワード</label><br/>
                                <input class="form-control" id="password" type="password"  th:field="*{password}" name="password" th:errorclass="is-invalid" required placeholder="パスワードを入力してください"/>
                                <small class="form-text text-muted">パスワードは5文字以上、15文字以下かつ、半角の英小文字、英大文字、数字を1種類ずつ含めて入力してください。</small>
                                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error!</span>
                                <p class="text-danger" th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}">error!</p>
                            </div>
                            <div class="form-group required">
                                <label for="confirmPassword">パスワード（確認）</label><br/>
                                <input class="form-control"  th:errorclass="is-invalid" id="confirmPassword" type="password"  th:field="*{confirmPassword}" name="confirmPassword" required placeholder="確認のため、もう一度パスワードを入力してください"/>
                            </div>
                            <div class="form-group required">
                                <label for="selfIntroduction">自己紹介</label><br/>
                                <textarea class="form-control selfIntroduction" id="selfIntroduction" rows="3" cols="80"  th:field="*{selfIntroduction}" name="selfIntroduction" th:errorclass="is-invalid" required placeholder="自己紹介を入力してください"></textarea>
                                <span class="text-danger" th:if="${#fields.hasErrors('selfIntroduction')}" th:errors="*{selfIntroduction}">error!</span>
                            </div>
                            <div class="col text-center">
                                <input type="submit" value="確認画面へ" class="btn bg-custom3 btn-lg text-white" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="common/common_footer"></footer>
</body>
</html>