<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <title>退会受付</title>
</head>
<body>

<nav th:replace="common/loggedinNav::navi(${accountName})"></nav>

<div class="container py-3">
    <div class="row">
        <div class="col-12 mx-auto">
            <h2 class="text-center pb-4">退会受付</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card rounded-0 card-shadow">
                <div class="card-header bg-custom1">
                    <h3 class="mb-0">退会の確認</h3>
                </div>
                <div class="pb-4"></div>
                <div class="h3 text-center">
                    本当に退会してよろしいでしょうか。<br />
                    退会を希望される方は、退会申込ボタンを押してください。
                </div>
                <div class="card-body">
                    <form id="accountForm" th:action="@{/account/unsubscribe/do}" method="post">
                        <div class="text-center">
                            <input type="submit" value="退会" class="btn bg-custom3 btn-lg text-white"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="common/common_footer"></footer>
</body>
</html>