<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <title>パスワード更新完了</title>
</head>
<body>

<nav th:replace="common/loggedinNav::navi(${accountName})"></nav>

<div class="container py-3">
    <div class="row">
        <div class="col-12 mx-auto">
            <h2 class="text-center pb-4">パスワード更新</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card rounded-0">
                <div class="card-header bg-custom1">
                    <h3 class="mb-0">更新完了</h3>
                </div>
                <div class="pb-4"></div>
                <div class="h3 text-center">
                    パスワード更新が完了しました。
                </div>
                <div class="card-body">
                    <form id="accountForm" th:action="@{/top}">
                        <div class="text-center">
                            <input type="submit" value="トップへ" class="btn bg-custom3 btn-lg text-white"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="common/common_footer"></footer>
</body>
</html>