<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <title>パスワード更新</title>
</head>
<body>

<nav th:replace="common/loggedinNav::navi(${accountName})"></nav>

<div class="container py-3">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center pb-4">パスワード更新</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card rounded-0">
                <div class="card-header bg-custom1">
                    <h3 class="mb-0">パスワード情報入力</h3>
                </div>
                <div class="card-body">
                    <form id="accountForm" th:action="@{/account/password/complete}" th:object="${accountPasswordUpdateForm}" method="post">
                        <div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">共通エラーメッセージ表示エリア</p>
                        </div>
                        <fieldset id="account_field">
                            <div class="form-group required">
                                <label for="currentPassword">現在のパスワード</label><br/>
                                <input class="form-control" id="currentPassword" type="password"  th:field="*{currentPassword}" name="currentPassword" th:errorclass="is-invalid" required placeholder="現在のパスワードを入力してください"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">error!</span>
                            </div>
                            <div class="form-group required">
                                <label for="newPassword">新しいパスワード</label><br/>
                                <input class="form-control" id="newPassword" type="password"  th:field="*{newPassword}" name="newPassword" th:errorclass="is-invalid" required placeholder="新しいパスワードを入力してください"/>
                                <small class="form-text text-muted">パスワードは5文字以上、15文字以下かつ、半角の英小文字、英大文字、数字を1種類ずつ含めて入力してください。</small>
                                <span class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">error!</span>
                                <p class="text-danger" th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}">error!</p>
                                <p class="text-danger" th:if="${#fields.hasErrors('newPasswordValid')}" th:errors="*{newPasswordValid}">error!</p>
                            </div>
                            <div class="form-group required">
                                <label for="confirmPassword">新しいパスワード（確認）</label><br/>
                                <input class="form-control" id="confirmPassword" type="password"  th:field="*{confirmPassword}" name="confirmPassword" th:errorclass="is-invalid" required placeholder="確認のため、もう一度パスワードを入力してください"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">error!</span>
                            </div>
                            <div class="col text-center">
                                <input type="submit" value="更新" class="btn bg-custom3 btn-lg text-white" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="common/common_footer"></footer>
</body>
</html>